In [2]:
import pandas as pd
from sqlalchemy import create_engine

# Database connection parameters
server_name = 'DESKTOP-NU99729\\SQLEXPRESS' 
database_name = 'chinook_db'

# Create the connection string
engine = create_engine(
    f'mssql+pyodbc://{server_name}/{database_name}?driver=ODBC+Driver+17+for+SQL+Server'
)

def load_tables_into_dataframes(engine):
    """Fetches all table names and loads them into separate DataFrames dynamically."""
    
    # Fetch all table names from the database
    query = "SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE = 'BASE TABLE'"
    table_names = pd.read_sql(query, engine)['TABLE_NAME'].tolist()

    # Dynamically create DataFrames with table names as variables
    for table_name in table_names:
        globals()[table_name] = pd.read_sql(f"SELECT * FROM {table_name}", engine)
        print(f"âœ… Table '{table_name}' loaded successfully as a DataFrame.")

    print("\nðŸŽ‰ All tables have been successfully loaded as separate DataFrames!")

# Call the function to execute
load_tables_into_dataframes(engine)

âœ… Table 'Album' loaded successfully as a DataFrame.
âœ… Table 'Artist' loaded successfully as a DataFrame.
âœ… Table 'Customer' loaded successfully as a DataFrame.
âœ… Table 'Employee' loaded successfully as a DataFrame.
âœ… Table 'Genre' loaded successfully as a DataFrame.
âœ… Table 'Invoice' loaded successfully as a DataFrame.
âœ… Table 'InvoiceLine' loaded successfully as a DataFrame.
âœ… Table 'MediaType' loaded successfully as a DataFrame.
âœ… Table 'Playlist' loaded successfully as a DataFrame.
âœ… Table 'PlaylistTrack' loaded successfully as a DataFrame.
âœ… Table 'Track' loaded successfully as a DataFrame.
âœ… Table 'sysdiagrams' loaded successfully as a DataFrame.

ðŸŽ‰ All tables have been successfully loaded as separate DataFrames!