Step 1: Connect and check SQL Server tables & data types

In [12]:
import pyodbc
import pandas as pd

sql_server_conn_str = (
    r"DRIVER={ODBC Driver 17 for SQL Server};"
    r"SERVER=DESKTOP-NU99729\SQLEXPRESS;"
    r"DATABASE=Chinook_db;"
    r"Trusted_Connection=yes;"
)

sql_tables = [
    "Album", "Artist", "Customer", "Employee", "Genre",
    "Invoice", "InvoiceLine", "MediaType", "Playlist", "PlaylistTrack", "Track"
]

with pyodbc.connect(sql_server_conn_str) as conn:
    for table in sql_tables:
        df = pd.read_sql(f"SELECT TOP 5 * FROM {table}", conn)  # Only first 5 rows
        print(f"Table {table} sample data types:\n{df.dtypes}\n")
        print(df.head(), "\n")

C:\Users\hp\AppData\Local\Temp\ipykernel_10364\2936178059.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT TOP 5 * FROM {table}", conn)  # Only first 5 rows

Table Album sample data types:
AlbumId     object
Title       object
ArtistId    object
dtype: object

  AlbumId                                  Title ArtistId
0     1.0  For Those About To Rock We Salute You      1.0
1     2.0                      Balls to the Wall      2.0
2     3.0                      Restless and Wild      2.0
3     4.0                      Let There Be Rock      1.0
4     5.0                               Big Ones      3.0

Table Artist sample data types:
ArtistId    object
Name        object
dtype: object

  ArtistId               Name
0        1              AC/DC
1        2               None
2        3          Aerosmith
3        4  Alanis Morissette
4        5    Alice In Chains

Table Customer sample data types:
CustomerId       int64
FirstName       object
LastName        object
Company         object
Address         object
City            object
State           object
Country         object
PostalCode      object
Phone           object
Fax             object
Email           object
SupportRepId     int64
dtype: object

   CustomerId  FirstName     LastName  \
0           1       Luís    Gonçalves
1           2     Leonie       Köhler
2           3   François     Tremblay
3           4      Bjørn       Hansen
4           5  František  Wichterlová

                                            Company  \
0  Embraer - Empresa Brasileira de Aeronáutica S.A.
1                                              None
2                                              None
3                                              None
4                                  JetBrains s.r.o.

                           Address                 City State         Country  \
0  Av. Brigadeiro Faria Lima, 2170  São José dos Campos    SP          Brazil
1          Theodor-Heuss-Straße 34            Stuttgart  None         Germany
2                1498 rue Bélanger             Montréal    QC          Canada
3                 Ullevålsveien 14                 Oslo  None          Norway
4                    Klanova 9/506               Prague  None  Czech Republic

  PostalCode               Phone                 Fax  \
0  12227-000  +55 (12) 3923-5555  +55 (12) 3923-5566
1      70174    +49 0711 2842222                None
2    H2G 1A7   +1 (514) 721-4711                None
3       0171     +47 22 44 22 22                None
4      14700    +420 2 4172 5555    +420 2 4172 5555

                      Email  SupportRepId
0      luisg@embraer.com.br             3
1     leonekohler@surfeu.de             5
2       ftremblay@gmail.com             3
3     bjorn.hansen@yahoo.no             4
4  frantisekw@jetbrains.com             4

Table Employee sample data types:
EmployeeId      int64
LastName       object
FirstName      object
Title          object
ReportsTo     float64
BirthDate      object
HireDate       object
Address        object
City           object
State          object
Country        object
PostalCode     object
Phone          object
Fax            object
Email          object
dtype: object

   EmployeeId LastName FirstName                Title  ReportsTo  \
0           1    Adams    Andrew      General Manager        NaN
1           2  Edwards     Nancy        Sales Manager        1.0
2           3  Peacock      Jane  Sales Support Agent        2.0
3           4     Park  Margaret  Sales Support Agent        2.0
4           5  Johnson     Steve  Sales Support Agent        2.0

        BirthDate         HireDate              Address      City State  \
0  2/18/1962 0:00   8/14/2002 0:00  11120 Jasper Ave NW  Edmonton    AB
1  12/8/1958 0:00    5/1/2002 0:00         825 8 Ave SW   Calgary    AB
2  8/29/1973 0:00    4/1/2002 0:00        1111 6 Ave SW   Calgary    AB
3  9/19/1947 0:00    5/3/2003 0:00     683 10 Street SW   Calgary    AB
4   3/3/1965 0:00  10/17/2003 0:00         7727B 41 Ave   Calgary    AB

  Country PostalCode              Phone                Fax  \
0  Canada    T5K 2N1  +1 (780) 428-9482  +1 (780) 428-3457
1  Canada    T2P 2T3  +1 (403) 262-3443  +1 (403) 262-3322
2  Canada    T2P 5M5  +1 (403) 262-3443  +1 (403) 262-6712
3  Canada    T2P 5G3  +1 (403) 263-4423  +1 (403) 263-4289
4  Canada    T3B 1Y7   1 (780) 836-9987   1 (780) 836-9543

                      Email
0    andrew@chinookcorp.com
1     nancy@chinookcorp.com
2      jane@chinookcorp.com
3  margaret@chinookcorp.com
4     steve@chinookcorp.com

C:\Users\hp\AppData\Local\Temp\ipykernel_10364\2936178059.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT TOP 5 * FROM {table}", conn)  # Only first 5 rows
C:\Users\hp\AppData\Local\Temp\ipykernel_10364\2936178059.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT TOP 5 * FROM {table}", conn)  # Only first 5 rows
C:\Users\hp\AppData\Local\Temp\ipykernel_10364\2936178059.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT TOP 5 * FROM {table}", conn)  # Only first 5 rows
C:\Users\hp\AppData\Local\Temp\ipykernel_10364\2936178059.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT TOP 5 * FROM {table}", conn)  # Only first 5 rows
C:\Users\hp\AppData\Local\Temp\ipykernel_10364\2936178059.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT TOP 5 * FROM {table}", conn)  # Only first 5 rows

Table Genre sample data types:
GenreId     int64
Name       object
dtype: object

   GenreId                Name
0        1                Rock
1        2                Jazz
2        3               Metal
3        4  Alternative & Punk
4        5       Rock And Roll

Table Invoice sample data types:
InvoiceId              int64
CustomerId             int64
InvoiceDate           object
BillingAddress        object
BillingCity           object
BillingState          object
BillingCountry        object
BillingPostalCode     object
Total                float64
dtype: object

   InvoiceId  CustomerId          InvoiceDate           BillingAddress  \
0          1           2  2009-01-01 00:00:00  Theodor-Heuss-Straße 34
1          2           4  2009-01-02 00:00:00         Ullevålsveien 14
2          3           8  2009-01-03 00:00:00          Grétrystraat 63
3          4          14  2009-01-06 00:00:00           8210 111 ST NW
4          5          23  2009-01-11 00:00:00          69 Salem Street

  BillingCity BillingState BillingCountry BillingPostalCode  Total
0   Stuttgart         None        Germany             70174   1.98
1        Oslo         None         Norway              0171   3.96
2    Brussels         None        Belgium              1000   5.94
3    Edmonton           AB         Canada           T6G 2C7   8.91
4      Boston           MA            USA              2113  13.86

C:\Users\hp\AppData\Local\Temp\ipykernel_10364\2936178059.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT TOP 5 * FROM {table}", conn)  # Only first 5 rows
C:\Users\hp\AppData\Local\Temp\ipykernel_10364\2936178059.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT TOP 5 * FROM {table}", conn)  # Only first 5 rows

Table InvoiceLine sample data types:
InvoiceLineId      int64
InvoiceId          int64
TrackId            int64
UnitPrice        float64
Quantity           int64
dtype: object

   InvoiceLineId  InvoiceId  TrackId  UnitPrice  Quantity
0              1          1        2       0.99         1
1              2          1        4       0.99         1
2              3          2        6       0.99         1
3              4          2        8       0.99         1
4              5          2       10       0.99         1

Table MediaType sample data types:
MediaTypeId     int64
Name           object
dtype: object

   MediaTypeId                         Name
0            1              MPEG audio file
1            2     Protected AAC audio file
2            3  Protected MPEG-4 video file
3            4     Purchased AAC audio file
4            5               AAC audio file

Table Playlist sample data types:
PlaylistId     int64
Name          object
dtype: object

   PlaylistId        Name
0           1       Music
1           2      Movies
2           3    TV Shows
3           4  Audiobooks
4           5  90’s Music

Table PlaylistTrack sample data types:
PlaylistId    int64
TrackId       int64
dtype: object

   PlaylistId  TrackId
0           1     3402
1           1     3389
2           1     3390
3           1     3391
4           1     3392

Table Track sample data types:
TrackId           int64
Name             object
AlbumId           int64
MediaTypeId       int64
GenreId           int64
Composer         object
Milliseconds      int64
Bytes             int64
UnitPrice       float64
dtype: object

   TrackId                                     Name  AlbumId  MediaTypeId  \
0        1  For Those About To Rock (We Salute You)        1            1
1        2                        Balls to the Wall        2            2
2        3                          Fast As a Shark        3            2
3        4                        Restless and Wild        3            2
4        5                     Princess of the Dawn        3            2

   GenreId                                           Composer  Milliseconds  \
0        1          Angus Young, Malcolm Young, Brian Johnson        343719
1        1                                               None        342562
2        1  F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...        230619
3        1  F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...        252051
4        1                         Deaffy & R.A. Smith-Diesel        375418

      Bytes  UnitPrice
0  11170334       0.99
1   5510424       0.99
2   3990994       0.99
3   4331779       0.99
4   6290521       0.99

C:\Users\hp\AppData\Local\Temp\ipykernel_10364\2936178059.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT TOP 5 * FROM {table}", conn)  # Only first 5 rows
C:\Users\hp\AppData\Local\Temp\ipykernel_10364\2936178059.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT TOP 5 * FROM {table}", conn)  # Only first 5 rows
C:\Users\hp\AppData\Local\Temp\ipykernel_10364\2936178059.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT TOP 5 * FROM {table}", conn)  # Only first 5 rows

Step 2: Create Snowflake database, schema, and stage

In [1]:
import os
import pyodbc
import pandas as pd
from snowflake.snowpark import Session
from dotenv import load_dotenv

load_dotenv()

sql_server_conn_str = (
    r"DRIVER={ODBC Driver 17 for SQL Server};"
    r"SERVER=DESKTOP-NU99729\SQLEXPRESS;"
    r"DATABASE=Chinook_db;"
    r"Trusted_Connection=yes;"
)

snowflake_params = {
    "account": os.getenv("SNOWFLAKE_ACCOUNT"),
    "user": os.getenv("SNOWFLAKE_USER"),
    "password": os.getenv("SNOWFLAKE_PASSWORD"),
    "role": os.getenv("SNOWFLAKE_ROLE"),
    "warehouse": os.getenv("SNOWFLAKE_WAREHOUSE"),
    "database": os.getenv("SNOWFLAKE_DATABASE"),
    "schema": os.getenv("SNOWFLAKE_SCHEMA"),
}

new_database = "CHINOOK_DATABASE"
new_schema = "ERD_SCHEMA"
new_stage = "DATA_INGESTION_STAGE"

# List of tables to migrate
sql_tables = ["Album", "Artist", "Customer", "Employee", "Genre", "Invoice", "InvoiceLine", "MediaType", "Playlist", "PlaylistTrack", "Track"]

def create_db_schema_stage(session):
    session.sql(f"CREATE DATABASE IF NOT EXISTS {new_database}").collect()
    session.sql(f"CREATE SCHEMA IF NOT EXISTS {new_database}.{new_schema}").collect()
    session.sql(f"""
        CREATE STAGE IF NOT EXISTS {new_database}.{new_schema}.{new_stage}
        FILE_FORMAT = (TYPE = 'CSV' FIELD_OPTIONALLY_ENCLOSED_BY = '\"' SKIP_HEADER = 1)
    """).collect()
    session.use_database(new_database)
    session.use_schema(new_schema)

def map_dtype_to_snowflake(dtype):
    # Basic dtype mapping
    dtype_str = str(dtype).lower()
    if 'int' in dtype_str:
        return "NUMBER"
    elif 'float' in dtype_str or 'double' in dtype_str:
        return "FLOAT"
    elif 'bool' in dtype_str:
        return "BOOLEAN"
    elif 'datetime' in dtype_str or 'timestamp' in dtype_str:
        return "TIMESTAMP_NTZ"
    else:
        # Default fallback type
        return "STRING"

def create_table_from_df(session, df, table_name):
    columns_ddl = []
    for col, dtype in zip(df.columns, df.dtypes):
        sf_type = map_dtype_to_snowflake(dtype)
        # Sanitize column name for Snowflake (uppercase, no spaces)
        col_clean = col.replace(" ", "_").upper()
        columns_ddl.append(f"{col_clean} {sf_type}")
    ddl = f"CREATE TABLE IF NOT EXISTS {table_name.upper()} ({', '.join(columns_ddl)})"
    session.sql(ddl).collect()

def export_to_csv(df, table_name):
    filename = f"{table_name}.csv"
    df.to_csv(filename, index=False, header=True)
    return filename

def upload_and_copy(session, table_name, csv_file):
    # PUT command to upload CSV to stage
    put_sql = f"PUT file://{csv_file} @{new_database}.{new_schema}.{new_stage} AUTO_COMPRESS=TRUE"
    session.sql(put_sql).collect()

    # COPY INTO to load data into table
    copy_sql = f"""
        COPY INTO {table_name.upper()}
        FROM @{new_database}.{new_schema}.{new_stage}/{csv_file}.gz
        FILE_FORMAT = (TYPE = 'CSV' FIELD_OPTIONALLY_ENCLOSED_BY='\"' SKIP_HEADER=1)
        ON_ERROR = 'CONTINUE'
    """
    session.sql(copy_sql).collect()

def main():
    with pyodbc.connect(sql_server_conn_str) as conn, \
         Session.builder.configs(snowflake_params).create() as session:

        create_db_schema_stage(session)

        for table in sql_tables:
            print(f"Processing table: {table}")
            df = pd.read_sql(f"SELECT * FROM {table}", conn)

            # Create table based on DataFrame schema
            create_table_from_df(session, df, table)

            csv_file = export_to_csv(df, table)
            upload_and_copy(session, table, csv_file)

            print(f"Table {table} migrated successfully.")

if __name__ == "__main__":
    main()

Processing table: Album

C:\Users\hp\AppData\Local\Temp\ipykernel_12220\2902527467.py:95: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)

Table Album migrated successfully.
Processing table: Artist

C:\Users\hp\AppData\Local\Temp\ipykernel_12220\2902527467.py:95: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)

Table Artist migrated successfully.
Processing table: Customer

C:\Users\hp\AppData\Local\Temp\ipykernel_12220\2902527467.py:95: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)

Table Customer migrated successfully.
Processing table: Employee

C:\Users\hp\AppData\Local\Temp\ipykernel_12220\2902527467.py:95: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)

Table Employee migrated successfully.
Processing table: Genre

C:\Users\hp\AppData\Local\Temp\ipykernel_12220\2902527467.py:95: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)

Table Genre migrated successfully.
Processing table: Invoice

C:\Users\hp\AppData\Local\Temp\ipykernel_12220\2902527467.py:95: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)

Table Invoice migrated successfully.
Processing table: InvoiceLine

C:\Users\hp\AppData\Local\Temp\ipykernel_12220\2902527467.py:95: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)

Table InvoiceLine migrated successfully.
Processing table: MediaType

C:\Users\hp\AppData\Local\Temp\ipykernel_12220\2902527467.py:95: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)

Table MediaType migrated successfully.
Processing table: Playlist

C:\Users\hp\AppData\Local\Temp\ipykernel_12220\2902527467.py:95: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)

Table Playlist migrated successfully.
Processing table: PlaylistTrack

C:\Users\hp\AppData\Local\Temp\ipykernel_12220\2902527467.py:95: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)

Table PlaylistTrack migrated successfully.
Processing table: Track

C:\Users\hp\AppData\Local\Temp\ipykernel_12220\2902527467.py:95: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)

Table Track migrated successfully.